/* font */
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
   
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}
   
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body {
    font-family: 'Noto Sans', sans-serif,'NanumBarunGothic', Sans-serif;
    }
/* 노말라이즈 */
body, ul, li, h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding: 0;
    list-style: none;
}
a {
    color:inherit;
    text-decoration:none;
}
/* 라이브러리 */
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.absolute-center {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
.fixed {
    position: fixed;
}
.row::after {
    clear: both;
    content: "";
    display: block;
}
.cell {
    float: left;
}
.cell-right {
    float: right;
}

.con {
    margin-left: auto;
    margin-right: auto;
}
.text-align-center {
    text-align: center;
}
.flex {
    display: flex;
}
.flex-1-0-0 {
    flex:1 0 0;
}
.flex-jc-c {
    justify-content: center;
}
.flex-jc-sa {
    justify-content: space-around;
}
.flex-jc-sb {
    justify-content: space-between;
}
.flex-ai-c {
    align-items: center;
}
.flex-ai-e {
    align-items: flex-end;
}
.flex-ai-s {
    align-items: flex-start;
}
.flex-wrap-wrap {
    flex-wrap: wrap;
}
/* 커스텀 */
.con {
    max-width: 80%;
}   
.color-976d3f {
    color:#976d3f;
}
.color-bbb {
    color: #bbb;
}
.bg-976d3f {
    background: #976d3f;
}
.font-weight-bold {
    font-weight: bold;
}
.font-weight-500 {
    font-weight: 500;
}
.font-size-35 {
    font-size: 35px;
}
.font-size-30 {
    font-size: 30px;
}
.font-size-21 {
    font-size: 21px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-19 {
    font-size: 19px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-15 {
    font-size:15px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-13 {
    font-size: 13px;
}
.font-size-12 {
    font-size: 12px;
}
/* alerted 커스텀 */
.alerted.active {
    display: block;
  }
  .alerted {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
  }
  .alerted > .alert-box {
    padding: 50px;
    background: #fff;
    position: absolute;
    top:20%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
  }
  
  .alerted > .alert-box > .close-btn {
    margin-top: 20px;
  }
  
  .alerted > .alert-box > .close-btn > .close-text {
    padding: 5px 15px;
    border:1px dotted #000;
    cursor: pointer;
  }
  .alerted > .alert-box > .close-btn:active > .close-text {
    background: #efefef;
  }
  /* alerted 커스텀 끝 */

/* menu-btn 커스텀 */
.menu-btn {
    width: 50px;
    height: 30px;
    left:4%;
    top:8%;
    cursor: pointer;
    z-index: 50;
}
.menu-btn > div {
    width: 100%;
    height: 5px;
    position: absolute;
}
.menu-btn > div:first-child {
    top:0%;
    transition:top .3s .3s, transform .3s;
}
.menu-btn > div:nth-child(2) {
    top:50%;
}
.menu-btn > div:last-child {
    top:100%;
    transition:top .3s .3s, transform .3s;
}
.menu-btn.active > div:first-child {
    top:50%;
    transform: rotate(45deg);
    transition:top .3s, transform .3s .3s;
}
.menu-btn.active > div:nth-child(2) {
    opacity: 0;
}
.menu-btn.active > div:last-child {
    top:50%;
    transform: rotate(-45deg);
    transition:top .3s, transform .3s .3s;
}
/* menu-box 커스텀 */
.menu-box {
    width: 100%;
    height: 100%;
    background: #252525;
    transition: left .4s;
    left:-105%;
    top:0;
    z-index: 49;
}
.menu-box.active {
    left:0;
}
.menu-box > ul {
    margin-left:10%;
    margin-top:10%;
}
.menu-box > ul > li > a {
    padding: 20px 30px;
    transition: color .3s;
}
.menu-box > ul > li > a:hover {
    color:#976d3f;
}
.menu-box > ul > li > a > span {
    position: relative;
}
.menu-box > ul > li> a > span::after {
    content: "";
    bottom:0;
    left:0%;
    position: absolute;
    width: 0;
    height: 5px;
    background: #976d3f;
    transition: width .3s;
}
.menu-box > ul > li > a:hover > span::after {
    width: 100%;
}

body {
    background: #222222;
}
#section-1,#section-2,#section-3,#section-5 {
    height: 100vh;
}

/* mobie-view */
.mobile-view {
    display: none;
}
#mobile-1, #mobile-2, #mobile-3, #mobile-4, #mobile-5 {
    height: 100vh;
}

.title > img {
    max-width: 100%;
    max-height: 35px;
}