#section-5 {
    color: #fff;
}
.store-section > .title {
    padding-top: 80px;
}

.store-section > h5 {
    margin: 10px 0 20px 0;
}
/* kakao-map popup 커스텀 */
#map {
    border:2px solid #976d3f;   
}

.store-popup {
    font-weight:bold;
    background: #fff;
    color: #222222;
    height: 100%;
    left: 0;
    bottom: 40px;
    width: 280px;
    height: 130px;
    margin-left: -144px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.store-name {
    padding: 15px 10px;
    font-size:18px;
    font-weight: bold;
    background: #222222;
    color: #dddddd;
    text-align:center;
}
.store-location {
    padding: 5px 10px;
    font-size: 13px;
}
/* mobile-view 커스텀 */
#mobile-5 > .mobile-store-section > .title {
    padding-top: 50px;
}
#mobile-5 > .mobile-store-section > .title > img {
    width:100%;
}
#mobile-5 > h6 {
    margin: 5px 0 10px 0;
}