@media all and (max-width:1024px) {
    .mobile-view {
        display: none;
    }
}
@media (max-width:1024px) {
    .menu-box > ul {
        margin-left:10%;
        margin-top:20%;
    }
    #section-1 > .home-section > .text-box > .title-1 {
        font-size: 1.5rem;
    }
    #section-1 > .home-section > .text-box > .title-2 {
        font-size: 2rem;
    }
    #section-2 > .about-reserve-section > .text-box > .title-1 {
        font-size: 1.5rem;
    }
    #section-2 > .about-reserve-section > .text-box > .title-2 {
        font-size: 2rem;
    }
    #section-2 > .bottom-img > .img {
        height: 30%;
    }
    #section-3 > .extraction-section> .extraction-list > ul {
        flex-wrap: wrap;
    }
    #section-3 > .extraction-section> .extraction-list > ul > li > a > img {
        height: 150px;
    }
    #section-3 > .extraction-section> .extraction-list > ul > .down-position {
        align-self: flex-start;
    }
    #section-4 > .reserve-coffee-section > .coffee-list > ul > li {
        width: calc(100%/3);
        margin-top: 20px;
    }
    #section-4 > .reserve-coffee-section > .coffee-list > ul > li > a > .img {
        background-repeat: no-repeat;
        background-size: contain;
        height: 160px;
    }
    .popup > .img {

        background-position: 50% 0;
        background-size: cover;
    }
}
@media (max-width:480px) {
    .mobile-view {
        display: block;
    }
    .con {
        max-width: 80%;
    }
    .alerted {
        display: none;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 1000;
      }
    .pc-view {
        display: none;
    }
    #section-1 > .background-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 80% 50%;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        z-index: inherit;
        opacity: 15%;
    }
    #map {
        width: 80%;
        height: 50%;
    }
    /* coffee-info */
    
}