
#section-4 {
    height: 100%;
}




/* #section-4 커스텀 */
#section-4 > .reserve-coffee-section > .title {
    margin-top: 50px;
}

#section-4 > .reserve-coffee-section > .text-box > .title-1 {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 600;
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > li {
    width: calc(100%/4);
}

/* coffee img 커스텀 */

#section-4 > .reserve-coffee-section > .coffee-list > ul > li {
    margin-top: 40px;
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > li > a > .img {
    background-repeat: no-repeat;
    background-size: contain;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    transition: transform .3s;
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > li:hover > a > .img {
    transform: scale(1.2);
} 
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-11 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/ukambani.png);
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-10 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/la-reserva.png);
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-9 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/hingakawa.png);
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-8 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/blue-mountain.png);
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-7 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/sapan-village.png);
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-6 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/honey-process.png);
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-5 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/mountain-farm.png);
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-4 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/zacapa-valleys.png);
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-3 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/lomas-initiative.png);
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-2 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/la-palma.png);
}
#section-4 > .reserve-coffee-section > .coffee-list > ul > .item-1 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/peaberry.png);
}
/* mobile-view 커스텀 */
#mobile-4 > .reserve-coffee-section > .title {
    padding-top: 50px;
}
#mobile-4 > .reserve-coffee-section > .title > img {
    width: 100%;
}
#mobile-4 > .reserve-coffee-section > .text-box > .title-1 {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
}
/* coffee img 커스텀 */

#mobile-4 > .reserve-coffee-section > .coffee-list > ul > li {
    margin-top: 40px;
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > li > a > .img {
    background-repeat: no-repeat;
    background-size: contain;
    width:100px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    transition: transform .3s;
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > li:hover > a > .img {
    transform: scale(1.2);
} 
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-11 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/ukambani.png);
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-10 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/la-reserva.png);
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-9 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/hingakawa.png);
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-8 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/blue-mountain.png);
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-7 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/sapan-village.png);
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-6 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/honey-process.png);
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-5 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/mountain-farm.png);
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-4 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/zacapa-valleys.png);
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-3 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/lomas-initiative.png);
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-2 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/la-palma.png);
}
#mobile-4 > .reserve-coffee-section > .coffee-list > ul > .item-1 > a > .img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/peaberry.png);
}